$primary: #0f1b29;
$secondary: #272727;
$success: green;
$danger: red;
$info: #d64609;
$heading-color: white;
$accordion-bg: $secondary;

body {
  --bs-body-color: #fff;
  --bs-body-bg: #fff;
  --bs-border-color: $secondary;
}

.width-card-compte {
  width: 30rem;
}
