{% extends "base.html.twig" %}

{% block body %}
    <div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">Vos compétences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Vos apprentissages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Votre description</a>
            </li>
        </ul>
    </div>

    <div>
        <form>
            <fieldset disabled>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">E-mail</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                </div>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Nom d'utilisateur</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                </div>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Date de naissance</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                </div>
            </fieldset>
        </form>
        <a href="" class="btn btn-danger">Editer</a>
    </div>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Vos session crées
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    liste des sessions
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Vos session rejonts
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    liste des sessions
                </div>
            </div>
        </div>
    </div>
{% endblock %}