{% extends "base.html.twig" %}

{% block body %}
    <div>
        <h1 class="text-center">SkillSwap</h1>
        <div class="d-flex justify-content-center pt-2">
            <div class="card bg-secondary p-2" style="width: 18rem;">
                <form class="my-2 my-lg-0">
                    <div class="d-flex">{#}
                        {{ form_errors(searchForm) }}

                        {{ form_start(searchForm) }}
                        {{ form_widget(searchForm.searchInput) }}
                            <div class="d-flex justify-content-center pt-3">
                                <button type="submit" class="btn btn-info">Rechercher</button>
                            </div>
                        {{ form_end(searchForm) }}#}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}