{% extends "base.html.twig" %}

{% block body %}
    <div class="bg-primary" style="100vh">
        <h1>SkillSwap</h1>
        <div>
            <h3>HOME HOME HOME</h3>
        </div>
        
    </div>
{% endblock %}