{% extends "base.html.twig" %}

{% block body %}
    <div class="bg-primary" style="100vh">
        <h1>SkillSwap</h1>
        <div>
            <h3>Le réseau d'étudiant</h3>
            <h3>Pour les étudiants</h3>
        </div>
        <div>
            <h5>Notre innovation? Créer l'échange et l'interaction d'étudiants pour l’évolution commune de compétences.</h5>
        </div>
        <div>
            <a href={{path("app_register")}} class="btn btn-danger">Nous rejoindre</a>
        </div>
    </div>
{% endblock %}