{% extends "base.html.twig" %}

{% block body %}
    <div class="bg-primary">
        <div class="container text-center" style="padding-top: 5rem; padding-bottom: 1rem;">
            <h1>SkillSwap</h1>
        </div>
        <div class="container text-center">
            <h3>Le réseau d'étudiant</h3>
            <h3>Pour les étudiants</h3>
        </div>
        <div class="d-flex justify-content-center p-5">
            <h5>Notre innovation? Créer l'échange et l'interaction d'étudiants <br/> pour l’évolution commune de compétences.</h5>
        </div>
        <div class="d-flex justify-content-center pt-3">
            <a href={{path("app_register")}} class="btn btn-info">Nous rejoindre</a>
        </div>
    </div>
{% endblock %}