{% extends "base.html.twig" %}

{% block body %}
    <div class="bg-primary">
        <div class="container text-center" style="padding-top: 5rem; padding-bottom: 1rem;">
            <h1>SkillSwap </h1>
        </div>
        <div class="container" style="padding-top: 5rem; padding-bottom: 1rem;">
            <h3>Notre innovation ?</h3>
            <h3>Créer l'échange et l'interaction d'étudiants <br> pour l'évolution commune de compétences.</h3>
        </div>
        <div>
            <a href={{path("app_register")}} class="btn btn-info">Nous rejoindre</a>
        </div>
    </div>
{% endblock %}